<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{$Think.config.BASE}">
    <link rel="stylesheet" type="text/css" href="ui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">  
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="ui/jquery.min.js"></script>     
    <script type="text/javascript" src="ui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="ui/locale/easyui-lang-zh_CN.js"></script> 
    <script src='layer/layer.js'></script>    
    <title>后台管理</title> 
    <style>
       
        #aa div p a{display:block;width:150px;height:25px;padding:0 10px;color:#333;line-height: 25px;text-decoration: none;}
         #aa div p a:hover{background-color:rgb(161, 161, 230);color:#eee;}
    </style>   
</head>
<body>
<div id="win" class="easyui-window" data-options="iconCls:'icon-add',modal:true,closed:true,title:'操作',collapsible:false,minimizable:false,
			maximizable:false,width:600,height:400"></div>   
 
