{/*添加权限项*/}
{__NOLAYOUT__}
    <form id="ff" method="post">
        <p>
            <label>名称:</label>
            <input class="easyui-textbox" type="text" name="title" data-options="required:true,width:220,height:28" />
        </p>
         <p>
            <label >模块:</label>
            <input class="easyui-textbox" type="text" name="module"  data-options="required:true,width:220,height:28" />
        </p>
         <p>
            <label >控制器:</label>
            <input class="easyui-textbox" type="text" name="controller"  data-options="required:true,width:220,height:28" />
        </p>
        <p>
            <label >操作:</label>
            <input type="checkbox" name="actions[]" value="index" checked>列表 
            <input type="checkbox" name="actions[]" value="add" checked>新增 
            <input type="checkbox" name="actions[]" value="edit" checked>修改 
            <input type="checkbox" name="actions[]" value="del" checked>删除 
           
        </p>
         <p>
            <label >其它操作:</label>
            <input class="easyui-textbox" type="text" name="other"  data-options="width:220,height:28" />用|隔开多个
        </p>
        <p>
            <label> </label>
             <a id='submit' class="easyui-linkbutton" data-options="iconCls:'icon-ok'" >提交</a>
        </p>
    </form>
	<include file="public:js:submit.js" />
