{//权限}

<table id='tab' class="easyui-datagrid"  data-options="url:'__SELF__',pagination:true,fitColumns:true,singleSelect:true,toolbar: '#tool'">
    <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th> 
            <th data-options="field:'ctime',width:100">添加时间</th>
            <th data-options="field:'utime',width:100">修改时间</th>
            <th data-options="field:'title',width:100">名称</th>                
            <th data-options="field:'url',width:100">操作</th>
            
        </tr>
    </thead>
</table>

<div id="tool">
    <a id='addbtn' class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" >添加</a>
    <a id='editbtn' class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" >修改</a>
    <a id='delbtn' class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">删除</a>
	<input  class="easyui-searchbox" style="width:150px" data-options="searcher:doSearch" />
</div> 

<script>
function doSearch(){
	var findstr=$(this).searchbox('getValue');
	 
	if(findstr.length>0){
		$('#tab').datagrid({
			url:"__ACTION__/finds/"+findstr,
		});
	}
	
}
</script>