{//审核用户}

<table id='tab' class="easyui-datagrid"  data-options="url:'__SELF__',pagination:true,fitColumns:true,singleSelect:true,toolbar: '#tool'">
    <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th>
            <th data-options="field:'title',width:100">状态</th>                
            <th data-options="field:'url',width:100">类型</th>
            <th data-options="field:'username',width:100">登录名</th>
            <th data-options="field:'name',width:100">姓名</th>
            <th data-options="field:'company',width:100">公司名</th>
            <th data-options="field:'email',width:100">邮箱</th>
            <th data-options="field:'phone',width:100">手机</th>
        </tr>
    </thead>
</table>

<div id="tool">
    <a id='showbtn' class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true" >查看</a>
   
</div> 

