{//图片列表}

<table id='tab' class="easyui-datagrid"  data-options="url:'{:U('getdb')}',pagination:true,fitColumns:true,singleSelect:true,toolbar: '#tool'">
    <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th> 
            <th data-options="field:'ctime',width:100">添加时间</th>
            <th data-options="field:'utime',width:100">修改时间</th>
            <th data-options="field:'ctype',width:100">是否成人</th> 
            <th data-options="field:'rtype',width:100">是否清真</th> 
            <th data-options="field:'status',width:100">是否审核</th> 
            <th data-options="field:'name',width:100">图片</th>                
            <th data-options="field:'title',width:100">标题</th>
            <th data-options="field:'text',width:100">说明</th>
            <th data-options="field:'advertiser',width:100">广告商</th>
            <th data-options="field:'keyword',width:100">关键字</th>
             
            
        </tr>
    </thead>
</table>

<div id="tool">
    <a id='addbtn' class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" >添加</a>
    <a id='editbtn' class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" >修改</a>
    <a id='delbtn' class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">删除</a>
</div> 

