{/*修改角色权限*/}
{__NOLAYOUT__}
<br>
<form id="ff" method="post">
    <div>
        <label>名称:</label>
        <input class="easyui-textbox" type="text" name="title" value='{$row.title}' data-options="required:true,width:220,height:28" />
    </div>
    <div>
        <label >操作:</label>
        <input type='checkbox' id='checkall'>全选
     </div>
       <ul class='actions'>
		<foreach name='actions' item='v'>
			<in name='v.id' value='$row.level'>
				<li><input type='checkbox' name='level[]' value='{$v.id}' checked='checked'>{$v.title}</li>
			<else />
				<li><input type='checkbox' name='level[]' value='{$v.id}'>{$v.title}</li>
			</in>			
		</foreach>
	</ul>
		
   
    
    <div style='clear:both;'></div>
    <br>
    <div>
        <label> </label>
        <a id='submit' class="easyui-linkbutton" data-options="iconCls:'icon-ok'" >提交</a>
    </div>
</form>

<script>
	$('#checkall').click(function(){
		var status=$(this).prop('checked');
		$('.actions li input').prop('checked',status);
	});
	
	$('.actions li input').click(function(){
		var total=$('.actions li input').length;
		var checks=$('.actions li input:checked').length;
		//alert(total);
		if(total==checks){
			$('#checkall').prop('checked',true);
			
		}else{
			$('#checkall').prop('checked',false);
		}
		
		 
		
	});

</script>

<include file="public:js:submit.js" />